*{
    padding: 0px;
    margin: 0px;
}

.navbar{
    width: 100%;
    background-color: #F33A6A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    text-decoration: none;
    list-style: none;
    padding: 2px 7px; 
    font-size: 20px;
}
.navbar ul li a{
    text-decoration: none;
    color: skyblue;
}
.logo{
    width: 80px;
    height: 70%;
}
h3{
    color: skyblue;
    font-size: 25px;
}
.banner{
    height: 75vh;
    width: 100%;
    /* border: 3px solid red; */
    display: flex;
}
.left{
    height: 100vh;
    width: 50%;
   /* display: flex;
   justify-content: center;
   align-items: center; */
   
}
.img{
    background-image: url("./hot-pink-nesting-tables-with-turquoise-blue-chairs.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    width: 70;
    /* border: 2px solid red; */
}
.right{
    height: 100vh;
    width: 50%;
    /* border: 3px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.right h1{
    color: skyblue;
    font-weight: bolder;

}
.right h2{
    color: rgb(207, 99, 117);
    font-weight: bolder;
    font-size: xx-large;
    padding: 10px;
}
.right p{
    font-size: 40px;
    padding: 10px;
    background-color: wheat;
}
.button{
    font-size: 20px;
    padding: 7px 10px;
    margin: 10px;
    background-color: skyblue;
    border-radius: 20px;

}
.products h1{
    text-align: center;
}
.items{
    height: 75vh;
    width: 100%;
    /* border: 3px solid red; */
    display: flex;
    flex-direction: column;
}
.item-row-1{
    height: 38vh;
    width: 100%;
    /* border: 3px solid red; */
    display:flex ;

   
}
.item-row-2{
    height: 38vh;
    width: 100%;
    /* border: 3px solid red; */
    display: flex;
    
    
}
.card {
    width: 300px;
    margin: 6px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    /* border: 2px saddlebrown solid; */
}

.card img {
    width: 70%;
    height: 100px;
    object-fit: cover;
}

.card h3 {
    margin: 10px 0;
    color: #333;
}

.card p.price {
    font-weight: bold;
    color: #007bff;
}

.card p.description {
    color: #555;
    padding: 0 15px;
}

.card button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card button:hover {
    background-color: #0056b3;
}
.footer{
    height: 150px;
    width: 1515px;
    /* border: 3px solid red; */
    background-color: pink;
   
}
.footer h2{
    text-align: center;
}
.footer p{
    text-align: center;
    /* margin: 150px; */
}
.facebook{
    margin: 30px;
    margin-left: 700px;
}
.instagram{
    margin: 30px;
    margin-left: 10px;
}
.footer img{
    width: 30px;
    height: 30px;
}
