*{
    padding: 0px;
    margin: 0px;
}

.navbar{
    width: 100%;
    background-color: #F33A6A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    text-decoration: none;
    list-style: none;
    padding: 2px 7px; 
    font-size: 20px;
}
.navbar ul li a{
    text-decoration: none;
    color: skyblue;
}
.logo{
    width: 80px;
    height: 70%;
}
h3{
    color: skyblue;
    font-size: 25px;
}
/* .card-container{
    display: flex;
    align-items: center;s 
    justify-content: space-around;
 } */

/* h3 {
    color: pink;
    font: bold;
    font-size: 25px;
}

.menu{
    top: 0;
    right: 0;
    margin: 10px;  
    color: white;
}
.menu a{
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    color: skyblue;
    font: bold;
} */
